.label__input {
    display: none;
}

.label__aside {

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.label__input:checked ~ .label__aside {
    transform: translateX(0%);
    opacity: 1;
}

@media (width >= 48rem) { 
    .label__aside {
        transform: translateX(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 1;
    }
 }